.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    text-align: center;
    margin: 1rem;
    background-color: var(--panel3-color);
}

.item:hover {
    background-color: var(--panel1-color);
}
